* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  max-width: 40%;
  margin: 3% auto;
  font-size: 2.2rem;
}

.container {
  text-align: center;
  width: 40%;
  margin: auto;
}

.input-meme {
  display: none;
}

.label-meme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  border-bottom: 1px solid rgb(182, 180, 180);
  font-size: 1.2rem;
  margin: 1rem auto;
  padding: 0 0.5rem;
  transition: 0.5s;
}

.label-icon{ 
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(assets/icons/plus.png);
  background-repeat: no-repeat;
  transition: 1s;
  
}

/* .label-icon:hover{
  background-image: url(assets/icons/multiply.png);
} */


.input-meme:checked+.label-meme+.container-content {
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.input-meme:checked+.label-meme {
  background-color: rgb(236, 236, 236);
}

.input-meme:checked+.label-meme div {
  background-image: url(assets/icons/multiply.png);
  transition: 1s;
}

.container-content {
  height: 0em;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
