* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  max-width: 60%;
  text-align: center;
  margin: 3% auto;
}

.container {
  text-align: center;
  max-width: 40%;
  margin: auto;
}

.label-meme {
  display: block;
  height: 2em;
  cursor: pointer;
  background-color: rgb(247, 219, 185);
  transition: 0.5s;
}

.input-meme:checked+.label-meme+.container-content {
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.input-meme:checked+.label-meme {
  background-color: rgb(138, 43, 226);
}

.container-content {
  height: 0em;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
